<nav class="flex justify-end items-center p-4 text-[12px]">
    <div class="flex items-center">
        <button href="#"
            class="w-[110px] h-[35px] border-1 flex justify-center items-center rounded px-2 bg-white text-gray-700 hover:bg-b cursor-pointer">
            <i class="fa-solid fa-plus mr-2"></i>Create Post
        </button>
        <i class="fa-solid fa-gear mr-2 ml-3 text-[18px] p-3 text-gray-500 cursor-pointer"></i>
        <img class="h-7 mr-5 cursor-pointer" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
    </div>
</nav>