<div id="option1h"
    class="bg-[#232323]  w-80 py-2 cursor-pointer  absolute top-20 left-2/5 z-999 shadow-md rounded-md overflow-hidden hidden">
    <button onclick="deletePost(this)"
        class="w-full text-red-500 font-semibold py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Delete</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Edit</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Hide like count
        to others</button>
    <button class="w-full text-gray-300  py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Turn off
        commenting</button>
    <button onclick="gotoPost(this)"
        class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Go to
        post</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Share
        to...</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Copy
        link</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Embed</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">About this
        account</button>
    <button onclick="closePopUp(this)" class="w-full text-white py-3 hover:bg-gray-800 rounded-b-xl">Cancel</button>
</div>

<div id="option2h"
    class="bg-[#232323]  w-80 py-2 cursor-pointer  absolute top-20 left-2/5 z-999 shadow-md rounded-md overflow-hidden hidden">
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Hide like count
        to others</button>
    <button class="w-full text-gray-300  py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Turn off
        commenting</button>
    <button onclick="gotoPost(this)"
        class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Go to
        post</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Share
        to...</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Copy
        link</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">Embed</button>
    <button class="w-full text-gray-300 py-3 border-b border-gray-700 hover:bg-gray-800 cursor-pointer">About this
        account</button>
    <button onclick="closePopUpH(this)" class="w-full text-white py-3 hover:bg-gray-800 rounded-b-xl">Cancel</button>
</div>