<%- include("./partials/header") %>

    <div class="w-full min-h-screen grid grid-cols-[20vw_1fr]">
        <div class="w-[20vw] h-full fixed z-50"> <%- include("./partials/sidebar") %></div>

        <div class="w-[80vw] min-h-screen  box-border px-5 col-start-2 ">

            <nav class="flex justify-end items-center p-4 text-[12px]">
                <div class="flex items-center">
                    <button href="#"
                        class="w-[110px] h-[35px] border-1 flex justify-center items-center rounded px-2 bg-white text-gray-700 hover:bg-b cursor-pointer">
                        <i class="fa-solid fa-plus mr-2"></i>Create Post
                    </button>
                    <i class="fa-solid fa-gear mr-2 ml-3 text-[18px] p-3 text-gray-500 cursor-pointer"></i>
                    <img class="h-7 mr-5 cursor-pointer" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                        alt="">
                </div>
            </nav>


            <div class="main-content flex ">
                <div class="pic-div p-8">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt=""
                        class="h-30 w-30 rounded-full">
                </div>
                <div class="username-div mt-9 ml-1">
                    <h1 class="text-[20px] font-bold mb-2">Username</h1>
                    <p class="text-gray-500 text-[12px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quisquam, voluptatibus.</p>
                    <div class="follower-post-div flex space-x-4 text-[14px] mt-4.5">
                        <span>12 <span class="text-gray-300">Posts</span></span>
                        <span>3321 <span class="text-gray-300">Followers</span></span>
                        <span>1543 <span class="text-gray-300">Following</span></span>
                    </div>
                </div>
                <div class="edit-profile-div flex justify-end items-center mt-9 text-[11px]">
                    <button
                        class="w-[95px] h-[28px] border-1 flex justify-center items-center rounded px-2 bg-white text-gray-700 hover:bg-b cursor-pointer ml-65 mb-10">
                        <i class="fa-solid fa-plus mr-2"></i>Edit Profile
                    </button>
                </div>
            </div>

            <div class="highlight-section flex items-center h-[120px] w-full space-x-4  ml-10 ">

                <div class="h-20 w-20 rounded-full border  p-1 flex justify-center items-center">
                    <div class="h-full w-full bg-white rounded-full flex justify-center items-center">
                        <img src="../images/add.png" class="w-[30px] h-[30px] rounded-full" alt="">
                    </div>
                </div>

                <div
                    class="h-20 w-20 rounded-full bg-gradient-to-r from-orange-400 via-red-500 to-pink-600 p-0.5 flex justify-center items-center">
                    <div class="h-full w-full bg-white rounded-full">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Story"
                            class="h-full w-full rounded-full">
                    </div>
                </div>
                <div
                    class="h-20 w-20 rounded-full bg-gradient-to-r from-orange-400 via-red-500 to-pink-600 p-0.5 flex justify-center items-center">
                    <div class="h-full w-full bg-white rounded-full">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Story"
                            class="h-full w-full rounded-full">
                    </div>
                </div>
                <div
                    class="h-20 w-20 rounded-full bg-gradient-to-r from-orange-400 via-red-500 to-pink-600 p-0.5 flex justify-center items-center">
                    <div class="h-full w-full bg-white rounded-full">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Story"
                            class="h-full w-full rounded-full">
                    </div>
                </div>
                <div
                    class="h-20 w-20 rounded-full bg-gradient-to-r from-orange-400 via-red-500 to-pink-600 p-0.5 flex justify-center items-center">
                    <div class="h-full w-full bg-white rounded-full">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Story"
                            class="h-full w-full rounded-full">
                    </div>
                </div>
            </div>


            <div
                class="flex justify-around items-center h-[30px] gap-2 font-bold text-gray-500 bg-zinc-200 rounded-lg ">
                <h2 class="bg-amber-100 w-[33%] h-[100%] text-center rounded-lg">Post</h2>
                <h2 class="bg-amber-700  w-[33%] h-[100%] text-center rounded-lg">Reels</h2>
                <h2 class=" bg-black  w-[33%] h-[100%] text-center rounded-lg">Saved</h2>
            </div>
            <div class="posts-section flex-wrap box-border flex justify-start gap-2 h-[20px] w-full mt-4">
                <div class="post-card w-[270px] h-[300px] bg-gray-900  rounded-lg ">
                    <img src="../images/front-image.jpg" alt="Post Image" class="w-full h-full object-cover ">
                </div>
                <div class="post-card w-[270px] h-[300px] bg-gray-900 rounded-lg ">
                    <img src="../images/front-image.jpg" alt="Post Image" class="w-full h-full object-cover ">
                </div>
                <div class="post-card w-[270px] h-[300px] bg-gray-900  rounded-lg ">
                    <img src="../images/front-image.jpg" alt="Post Image" class="w-full h-full object-cover ">
                </div>
                <div class="post-card w-[270px] h-[300px] bg-gray-900  rounded-lg ">
                    <img src="../images/front-image.jpg" alt="Post Image" class="w-full h-full object-cover ">
                </div>
                <div class="post-card w-[270px] h-[300px] bg-gray-900  rounded-lg ">
                    <img src="../images/front-image.jpg" alt="Post Image" class="w-full h-full object-cover ">
                </div>
                <div class="post-card w-[270px] h-[300px] bg-gray-900  rounded-lg ">
                    <img src="../images/front-image.jpg" alt="Post Image" class="w-full h-full object-cover ">
                </div>

            </div>

        </div>


    </div>
    <%- include("./partials/footer") %>