<%- include("./partials/header") %>
<div class="p-5 text-2xl">
    <span class="text-red-500">Welcome, </span>
    <p class="text-purple-500"><%=user.firstName%>
        <%=user.lastName%> 💖</p>
</div>
    
<%- include("./partials/footer") %>